.category-card img {
  padding: 8px;
  width: 85%;
  border: 2px solid gainsboro;
}

.category-card {
  margin-right: -18px;
  margin-left: 18px;
  margin-top: 25px;
  cursor: pointer;
}

.margin-right {
  margin-right: 4px;
}

.category-card:hover {
  transform: scale(1.1) !important;
}

.category-card-mainboard img {
  margin-top: 35px;
  width: 50px;
}

.category-card-mainboard {
  width: 1px;
}

.margin-right-2 {
  margin-left: 45px !important;
  margin-right: -15px !important;
}
